{{category-link category}}


<div class="category-topics--content">
  {{#each topics as |topic|}}
    <a href={{topic.url}} class="category-topics--topic">
      {{html-safe (replace-emoji topic.fancy_title)}}
      <span class="category-topics--posts-count">

      </span>
    </a>
  {{/each}}
</div>

<div class="category-topics--content2">
  {{topic-list topics=topics showPosters=false}}
</div>


